<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新闻咨询</title>
<title>heder_nav-menu</title>
<link rel="stylesheet" type="text/css" href="/default/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/default/css/common.css" />
<link rel="stylesheet" type="text/css" href="/default/css/heder_nav-menu.css"/>
<link rel="stylesheet" type="text/css" href="/default/css/successful_case.css"/>
</head>

<body>
{{include "default/public/header.html"}}
<div id="header_nav-wrapper">
    <div class="header_nav">
        <h2>新闻咨询 &#160; <span>用心给客户书写出一次次满意的答卷，创造有价值的产品
APP开发</span></h2>


    </div>



</div>

<div id="header_title-wrapper">

    <div class="header_title clear">
        <p >
        <a {{if pid==null}} class="active" {{/if}} href="/news">全部</a>
        {{each cateList}}
        <a {{if pid==$value._id}} class="active" {{/if}} href="/news?pid={{@$value._id}}">{{$value.title}}</a>
        {{/each}}
        <!-- <a href="#">教育行业</a>
        <a href="#">房地产业</a>
        <a href="#" style="margin-right:20px;">能源行业</a>
 -->
        </p>
    </div>


</div>


<div id="main_wrapper">


    <div class="main">
        <ul class="clear">
            {{each articleList}}
            <li>

                    <a href="content/{{@$value._id}}"><img src="{{$value.img_url}}" /></a>

                    <p>{{$value.title}}</p>


            </li>
            {{/each}}


        </ul>

        <div id="page" class="pagination"></div>
    </div>




</div>



{{include "default/public/footer.html"}}



</body>
<script src="{{__HOST__}}/default/js/jquery-2.0.3.min.js"></script>
<script src="{{__HOST__}}/default/js/jqPaginator.js"></script>
<script >
    $('#page').jqPaginator({
        totalPages: {{totalPages}},//总页数
        visiblePages: 8,
        currentPage: {{page}},
        onPageChange: function (num, type) {
            console.log(num, type);
            if(type=='change'){
                {{if pid}}
                    location.href="{{__HOST__}}/news?pid={{pid}}&page="+num;
                {{else}}
                    location.href="{{__HOST__}}/news?page="+num;
                {{/if}}
            }
        }
    });
</script>
</html>
