@charset "utf-8";
/* CSS Document */

#header_nav-wrapper{ height:201px; background:url(../images/header_nav-menu/header_nav_bg.jpg) repeat-x;}
.header_nav{ height:133px; width:1140px; margin:0 auto; padding-top:68px;}
.header_nav h2{ font-size:24px; color:#FFF; font-weight:900;}
.header_nav h2 span{ display:inline-block; height:24px; border-left:1px solid #feb3ae; font-size:18px; color:#ffb4b2; padding-left:15px; line-height:24px;}
.header_nav h2 p { font-weight:900; font-size:14px; color:#fff;}
.header_nav  p  span { font-size:14px; color:#ffb3b5;}

#header_title-wrapper{ height:60px; background:#f7f7f7;}
.header_title{ height:60px; width:1140px; margin:0 auto;}
// .header_title p{ float:left;}
.header_title p a{ text-align:center; color:#666865; font-size:12px; line-height:60px;  margin-right:34px; }
.header_title p a:hover{ color:#F00;}
.header_title p a.active{color:#F00;}

.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px;float:right; }
.pagination li { display: inline; }
.pagination li a { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.428571429; text-decoration: none; background-color: #fff; border: 1px solid #ddd; color:#3879D9}
.pagination li:first-child a { margin-left: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.pagination li:last-child a { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.pagination li a:hover, .pagination li a:focus { background-color: #eee; }
.pagination .active a, .pagination .active a:hover, .pagination .active a:focus { z-index: 2; color: #fff; cursor: default; background-color: #428bca; border-color: #428bca; }
.pagination .disabled a, .pagination .disabled a:hover, .pagination .disabled a:focus { color: #999; cursor: not-allowed; background-color: #fff; border-color: #ddd; }
.pagination-lg li a { padding: 10px 16px; font-size: 18px; }
.pagination-sm li a, .pagination-sm li span { padding: 5px 10px; font-size: 12px; }