<div id="header-wrapper">
        <div class="header-inner">
            <div class="logo">
                <!-- <h1>
                    <a href="#" title="欢迎来到Koa Cms项目实战">Koa Cms项目实战</a>
                </h1> -->
                <img src="{{setting.site_logo}}" alt="{{setting.site_title}}">
            </div>
            <div class="nav">
                <ul class="clear">
                    {{each nav}}
                    <li>
                        <a href="{{$value.url}}" {{if pathname==$value.url}} class="active" {{/if}}>{{$value.title}}</a>
                    </li>
                    {{/each}}
                    <!-- <li>
                        <a href="/service">开发服务</a>
                    </li>


                    <li>
                        <a href="/case">成功案例</a>
                    </li>
                    <li>
                        <a href="/news">新闻资讯</a>
                    </li>
                    <li>
                        <a href="/about">关于我们</a>
                    </li>
                    <li>
                        <a href="/connect">联系我们</a>
                    </li> -->
                </ul>
            </div>
        </div>
</div>